@page "/account/login"
@model Blazor.Blog.Pages.Account.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<br />
<br />
<br />
<section class="account">
    <form method="post">
        <h3>Login</h3>
        <div class="form-group row">
            <label asp-for="Creds!.Email" class="form-label"></label>
            <input asp-for="Creds!.Email" autocomplete="username" class="form-control" aria-required="true" />
             <span asp-validation-for="Creds!.Email" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Creds!.Password" class="form-label"></label>
            <input asp-for="Creds!.Password" type="password" autocomplete="current-password" class="form-control" aria-required="true" />
            <span asp-validation-for="Creds!.Password" class="text-danger"></span>
        </div>
        <div class="form-group row mt-4">
            <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
        </div>
    </form>
</section>
<br />
<br />
<br />
